In [1]:
import pandas as pd
import numpy as np
import openpyxl
import re
import matplotlib.pyplot as plt
import datetime
import hydroeval as he

In [2]:
path = r"C:\Users\pauls\Desktop\Proyectos\Juncal_norte\Calibration\cali-vali\Fase_final.xlsx"
data = pd.read_excel(path,sheet_name="1",engine="openpyxl")
data

     Unnamed: 0  observado  validación
0    2011-01-01      6.740    5.314130
1    2011-01-02      7.000    5.307570
2    2011-01-03      6.430    5.593850
3    2011-01-04      5.610    5.428040
4    2011-01-05      5.060    5.669170
...         ...        ...         ...
3403 2020-04-26      2.159    0.586334
3404 2020-04-27      2.073    0.567258
3405 2020-04-28      2.013    0.548597
3406 2020-04-29      1.925    0.533204
3407 2020-04-30        NaN    0.517780

[3408 rows x 3 columns]

In [5]:
obs = data.iloc[:,1]
sim = data.iloc[:,2]

nash = pd.DataFrame(he.evaluator(he.nse, sim, obs),index=["NASH"])
nash

             0
NASH  0.123056